<nav class="navbar navbar-inverse bs-dark">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="">Logo</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active" routerLinkActive="active"><a routerLink="">Home<span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/newevent">Event maken</a></li>
      <li class="dropdown" routerLinkActive="active">
        <a routerLink="/account" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="http://placehold.it/150x150" class="img-circle" alt="Profile Image" />
        </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profiel</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Instellingen</a></li>
          <li><a href="#">Uitloggen</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
